/* Navigation bar/menu*/

/* Navigation in desktop */

.nav__desktop{
    gap: 1rem;
}

.nav__desktop--logo{
    width: 150px;
}

/* Banner Carousel section */

#main__banner--carousel{
    height: 32rem;
  }

  .carousel-item {
    height: 32rem;
  }

  .carousel-item img{
    height: 30rem;
  }

