/* Navigation bar/menu*/

/* Navigation in desktop */

.nav__desktop {
  gap: 1rem;
  margin: 0 20px;
}

.nav__desktop--logo {
  width: 150px;
}

/* Banner Carousel section */

#main__banner--carousel {
  height: 25rem;
}

.carousel-item {
  height: 25rem;
}

.carousel-item img {
  height: 23rem;
}
