html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  width: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

#page_content {
  min-height: 100vh;
  position: relative;
}

/* Navigation bar/menu*/
.nav {
  justify-content: center;
  align-items: center;
}

/* Navigation in desktop */
.nav__desktop {
  height: 100px;
  margin: 0;
  padding: 0;
  color: rgb(27, 26, 26);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.nav__desktop--items {
  font-size: 20px;
  list-style: none;
}

.nav__desktop--items:hover {
  cursor: pointer;
  color: rgb(101, 56, 138);
}

.nav__desktop--logo {
  width: 200px;
}

/* Navigation in mobile---------> HIDDEN */
.nav__mob {
  display: none;
}

#toggle {
  display: none;
}

/* Main page content */

main {
  padding-bottom: 50px;
}

/* Banner Carousel section */

#main__banner--carousel {
  overflow: hidden;
  height: 40rem;
}
.carousel-item {
  width: 100%;
  height: 40rem;
  background: black;
  color: white;
  border: 1rem solid rgb(58, 43, 102);
  position: relative;
  background-position: center;
  background-size: cover;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.carousel-item img {
  width: 100%;
  height: 38rem;
  position: absolute;
  background-position: center;
  background-size: cover;
  opacity: 0.75;
}

.carousel-control-prev,
.carousel-control-next {
  top: 19rem;
  opacity: 0.9;
}

/* Information section */

.main__info {
  margin: 1rem 0;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__info__container {
  display: flex;
  max-width: 130rem;
  justify-content: center;
}

.main__info__container__box {
  padding: 1rem;
  width: 33.33%;
}

.main__info__container__box--image {
  display: block;
  width: 100%;
}

.main__info__container__box--title {
  color: rgb(82, 79, 79);
  margin: 1rem 0;
  font-weight: 400;
}

.main__info__container__box--para {
  color: rgb(104, 100, 100);
  font-size: 20px;
}

.main__info__container__box--ReadMore {
  background: none;
  border: none;
  padding: 0;
  font-size: 20px;
  color: rgb(58, 43, 102);
  text-decoration: none;
}

.main__info__container__box--ReadMore:hover {
  color: rgb(83, 82, 83);
}

/* Fruits section */

.main__fruits {
  /* background-color: blue; */
  width: 100%;
  height: 30rem;
  margin: 1rem 0;
}

.main__fruits__about {
  height: 70%;
  background-color: rgb(247, 191, 7);
}

.main__fruits__about__text {
  text-align: center;
  color: rgb(58, 43, 102);
  padding: 1rem;
}

.main__fruits__about__text--title {
  margin: 1rem 0;
  font-weight: 300;
}
.main__fruits__about__text--para {
  margin: 0;
  font-size: 20px;
}

.main__fruits__about--image {
  width: 29rem;
  display: block;
  margin: auto;
}

/* Details section */

.main__details {
  margin: 1rem 0;
  /* background-color: rgb(255, 0, 76); */
  width: 100%;
}

.main__details__intro {
  text-align: center;
  color: rgb(58, 43, 102);
}

.main__details__intro--title {
  font-weight: 300;
  margin-bottom: 1rem;
}

.main__details__intro--para {
  font-size: 20px;
  width: 90%;
  display: block;
  margin: auto;
}

.main__details__column {
  padding: 1rem;
  color: rgb(58, 43, 102);
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.main__details__column--item {
  border-top: 2px solid rgb(141, 140, 140);
  margin: 10px;
  padding: 15px;
}

.main__details__column--vl {
  border-left: 2px solid rgb(141, 140, 140);
  margin-top: 15px;
}

/* Footer */

.footer {
  font-size: 1rem;
  color: white;
  width: 100%;
  height: 50px;
  background-color: rgb(58, 43, 102);
  display: flex;
  justify-content: center;
  align-items: center;
  clear: both;
  position: absolute;
  bottom: 0;
}
