

/* Navigation bar */

.nav_desktop{
    display: none;
}

.nav_mob{
    display: block;
    width: 100%;
}
label{
    display: block;
    cursor: pointer;
    padding-right: 10px;
}

.nav_mob--menu{
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    display: none;
}

.nav_mob--menu a{
    display: block;
    margin: 0;
    color: white;
    background: rgb(37, 5, 110);
    border-bottom: 1px solid #eaeaeb3a;
}

#toggle:checked + .nav_mob--menu{
    display: block;
    position: absolute;
    top: 70px;
    z-index: 99;
}



/* main */

/* main image */

#main__Carousel{
    overflow: hidden;
    height: 29rem;
  }

.carousel-item {
    height: 29rem;
}

.carousel-item img{
    height: 27rem;
}

.carousel-control-prev, .carousel-control-next{
    top: 15rem;
}
/* main info */
.main__info{
    flex-direction: column;
    height: auto;
    margin: 0;
    width: 100%;
}

.main__info__box{
    width: 90%;
    padding: 1rem;
    margin: auto;
}

.main__info__box--para {
    font-size: 1rem;
}

/* main fruits */
.main__fruits{
    height: 22rem;
}

.main__fruits__about{
    height: 285px;

}

.main__fruits__about--text{
    width: 100%;
    padding: 1.5rem;
}

.main__fruits__about--text p {
    font-size: 1rem;
}

.main__fruits__about--image{
    width: 70%;
}


/* main details */
.main__details{
    height: auto;
}
.main__details__column{
    flex-direction: column;
    font-size: 1rem;
}

.main__details--intro p{
    width: 90%;
    font-size: 1rem;
}

/* Footer */
.footer{
  font-size: 12px;
}
